{% extends 'base.html' %}

{% block content %}
  <h2>Create Core</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
  
  <script>
    const coreTypeField = document.getElementById('id_core_type');
    const wellNameSectionField = document.getElementById('id_well');
    const coreNumberField = document.getElementById('id_core_number');
    const coreSectionField = document.getElementById('id_core_section_number');
    const coreSectionNameField = document.getElementById('id_core_section_name');
    const collectionDateField = document.getElementById('id_collection_date');

    // Set well name to the well from form initial
    wellNameSectionField.value = '{{ form.initial.well }}';
    coreSectionField.value = '{{ form.initial.core_section_number }}';
    collectionDateField.value = '{{ form.initial.collection_date }}';

    function updateCoreSectionName() {
      const wellName = wellNameSectionField.value;
      const coreNumber = coreNumberField.value;
      const coreSectionNumber = coreSectionField.value;
      coreSectionNameField.value = `${wellName}-${coreNumber}-${coreSectionNumber}`;

      // A core catcher depends on a core section name
      if (coreTypeField.value === 'Core catcher') {
        countForCC = parseInt(coreSectionField.value) + 1;
        coreSectionNameField.value = `${wellName}-${coreNumber}-${coreSectionNumber}-CC${countForCC}`;
      }
    }

    coreNumberField.addEventListener('input', updateCoreSectionName);
    coreNumberField.addEventListener('input', updateCoreSectionName);
    coreSectionField.addEventListener('change', updateCoreSectionName);

    // Set initial value of core section name
    updateCoreSectionName();
    setInterval(updateCoreSectionName, 500);
  </script>
{% endblock %}
