{% extends 'base.html' %}

{% block content %}
<h1>Well Name: {{ well }}</h1>
<h2>Cores:</h2>
<ul>
  {% for core in cores %}
    <li>{{ core.core_section_name }}</li>
  {% empty %}
    <li>No cores available.</li>
  {% endfor %}
</ul>
<form id="core-form" method="GET" action="{% url 'cores' pk=well.pk %}">
  {% csrf_token %}
  <select name="core_number">
    <option value="">Select Core Number</option>
    <option value="C1" {% if core_number == 'C1' %}selected{% endif %}>C1</option>
    <option value="C2" {% if core_number == 'C2' %}selected{% endif %}>C2</option>
    <option value="C3" {% if core_number == 'C3' %}selected{% endif %}>C3</option>
    <option value="C4" {% if core_number == 'C4' %}selected{% endif %}>C4</option>
    <option value="C5" {% if core_number == 'C5' %}selected{% endif %}>C5</option>
    <option value="C6" {% if core_number == 'C6' %}selected{% endif %}>C6</option>
    <option value="C7" {% if core_number == 'C7' %}selected{% endif %}>C7</option>
    <option value="C8" {% if core_number == 'C8' %}selected{% endif %}>C8</option>
    <option value="C9" {% if core_number == 'C9' %}selected{% endif %}>C9</option>
  </select>
  <input type="hidden" name="well_name" value="{{ well }}">
  <button type="submit">Add a core</button>
</form>

{% endblock %}
